.awesome-tab-items-wrapper {
	padding: 0px;
	margin: 0px;
}

.awesome-tab-item {
	list-style: none;
	display: inline-block;
	padding: 10px;
	margin: 0;
	cursor: pointer;
	background-color: rgba(0, 0, 255, 0.1);
}

.awesome-tab-item-selected {
	background-color: rgba(0, 255, 0, 0.3);
}

.awesome-tab-content {
	padding: 10px;
}

.awesome-tab {
	border: 1px solid #aaa;
	display: inline-block;
}

.awesome-tab-content-hidden {
	display: none;
}